/* You can add global styles to this file, and also import other style files */
body{
    background: radial-gradient(circle at top left, #181023, #0b0519);
  color: #c3b3d8;
  
    font-family: "Poppins", sans-serif;
      
      
}